<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <h1 class="text-center">Welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong> !!</h1>
    </div>
  </div>
</div>
